.container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #485052;
  background-blend-mode: overlay;
}
.none {
  visibility: hidden;
}
